.container {
display: flex;
flex-grow:0.1;
height: 100vh;
flex-direction: column;
background: linear-gradient(to bottom, #00A6FB, #000000); 
}

.sidebarDiv {
  display: flex;
  flex-grow:1;
  flex-direction: column;
}
.titleDiv {
display: flex;
justify-content: center;
align-items: center;
flex-grow: 0.1;
color: white;
}

.title {
  font-size: 3rem;
}

.buttonsDiv {

  display: flex;
  flex-direction: column;
  flex: 0.8;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sidebarUploadDiv {
  display: flex;
  flex-grow: 0.1; 
  
  
}

.btn{
  display: flex;
  border-radius: 15px;
  flex-grow: 0.1;
  width: 80%;
  color:white;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.btnActive{
 
  display: flex;
  border-radius: 15px;
  flex-grow: 0.1;
  width: 80%;
  color:white;
  background-color: #00A6FB;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover{
  color: white;
}
.btnActive:hover{
  color: white;
}
